.filters{
  margin-top: 20px;
  box-shadow: 5px 5px 10px black;
  &__but{
    color: white;
    cursor: pointer;
  }
}
.all{
  background: black;
}
.fire{
  background: red;
}
.water{
  background: blue;
}
.wind{
  background: green;
}
.earth{
  background: grey;
}