.App{
  height: 100vh;
  overflow-y: scroll;
  
}
.content {
  display: grid;
  grid-template-columns: 400px 330px;
  max-width: 1040px;
  margin: 0 auto;
  padding-top: 50px;
  &__interactive {
      padding-left: 40px;
  }
}